.inline-block(@valign: top) {
  display: inline-block;
  vertical-align: @valign;
}

.line-height(@px) {
  height: @px;
  line-height: @px;
}

/* fonts */
.proximaregular{
	font-family: 'ProximaNovaRegular', sans-serif;
}
.proximalight{
	font-family: 'ProximaNovaLight', sans-serif;
}
.proximablack{
	font-family: 'ProximaNovaBlack', sans-serif;
}
.proximabold{
	font-family: 'ProximaNovaBold', sans-serif;
}

/* btn */
.btn{
	position: relative;
	.inline-block;
	padding: 16px 25px;
	.proximablack;
	font-size: 18px;
	text-transform: uppercase;
	color: @white;
	background:    linear-gradient(#7d3ca9, #7d3ca9 50%, #611b8f 50%, #611b8f);
	transition: all .6s ease;
	z-index: 2;
	&:hover{
		color: @white;
		background:    linear-gradient(#7d3ca9,  #611b8f);
	}
}
/* title-shadow */
.title-shaddow{
	text-shadow: 2px 2px 0 @mainColor;
}
 /* phone */
 .phone{
    position: absolute;
    top: 30px;
    right: 0;
    height: 46px;
    line-height: 46px;
    .left,
    .right{
      .inline-block;
    }
    .left{
      padding: 0 20px;
      .proximablack;
      font-size: 18px;
      border: 1px solid #8b6d4c;
      border-right: none;
      background: @darkColor;
      transition: all .5s ease;
      @media screen and (max-width: 340px) {
        font-size: 16px;
      }
      &:hover{
        background: @accent;
        cursor: pointer;
      }
    }
    .right{
      position: relative;
      padding: 0 12px;
      margin-left: -4px;
      height: 48px;
      line-height: 48px;
      color: @white;
      text-decoration: none;
      background: #8b6d4c;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background: @accent;
      }
    }
  }
